version: '3'

services:
 reverseproxy:
  restart: unless-stopped
  image: cid/reverseproxy
  deploy:
   mode: global
  networks:
   - frontend
  ports:
   - "80:80"
   - "443:443"

 trac:
  image: cid/trac
  volumes:
   - cid-trac:/var/trac
   - cid-git:/var/git
   - cid-www:/var/www
  deploy:
   mode: global
  networks:
   - frontend
  ports:
   - "2022:22"

 jenkins:
  user: jenkins
  image: cid/jenkins:${cid_jenkinsversion}
  deploy:
   mode: global
  volumes:
   - /var/run/docker.sock:/var/run/docker.sock
   - cid-jenkins:/var/lib/jenkins
   - cid-git:/var/git
  networks:
   - frontend

networks:
 frontend:
 backend:

volumes:
  cid-jenkins:
    external:
      name: cid-${cid_project}-jenkins
  cid-trac:
    external:
      name: cid-${cid_project}-trac
  cid-git:
    external:
      name: cid-${cid_project}-git
  cid-www:
    external:
      name: cid-${cid_project}-www
