version: '3'

services:
 reverseproxy:
  restart: unless-stopped
  image: cid/reverseproxy
  networks:
   - service
   - frontend
  ports:
   - "80:80"
   - "443:443"

 gitserver:
  image: cid/gitserver
  #command: /usr/sbin/sshd -D -d
  volumes:
   - cid-git:/var/git
   - cid-trac:/var/trac
  networks:
   - frontend
  ports:
   - "2022:22"

 trac:
  image: cid/trac
  volumes:
   - cid-trac:/var/trac
   - cid-git:/var/git
   - cid-www:/var/www
  networks:
   - service

 jenkins:
  user: jenkins
  image: cid/jenkins
  volumes:
   - /var/run/docker.sock:/var/run/docker.sock
   - cid-jenkins:/var/lib/jenkins
   - cid-git:/var/git
  networks:
   - service

networks:
 frontend:
 service:

volumes:
  cid-jenkins:
    external:
      name: cid-${cid_project}-jenkins
  cid-trac:
    external:
      name: cid-${cid_project}-trac
  cid-git:
    external:
      name: cid-${cid_project}-git
  cid-www:
    external:
      name: cid-${cid_project}-www
